.activities-title {
    text-align: center;
}

.activity-card {
    width: 60%;
    margin: 0 auto;
    border: 1px solid var(--bg-300);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-md);
    text-shadow: var(--shadow-md);
    background-color: var(--primary-500);
}

.activity-header {
    font-size: 1.5rem;
    color: var(--primary-200);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.activity-table {
    width: 100%;
}

.activity-table th:first-child,
.activity-table td:first-child {
    width: 75%;
}

.activity-table th:last-child,
.activity-table td:last-child {
    width: 25%;
}

p:nth-child(1) {
    margin-top: 2rem;
}

p:nth-child(2) {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .table {
        grid-template-columns: repeat(1, 1fr);
        background-color: transparent;
    }

    .table-wrapper tr {
        padding-bottom: 1rem;
    }

    .activity-table th:first-child, .activity-table td:first-child {
        width: 100%;
    }
    .activity-table th:last-child, .activity-table td:last-child{
        width: 100%;
    }
}

@media (max-width: 425px) {
.activity-card {
        width: 80%;
    }
}

@media (max-width: 375px) {
    .activity-card {
        width: 90%;
    }
}