.activity-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

form {
    background-color: var(--primary-500);
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form label {
    display: block;
    font-weight: 600;
    color: var(--text-100);
}

textarea {
    background-color: var(--bg-100);
    resize: vertical;
}

input[type="datetime-local"] {
    padding: 0.6rem;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-100);
    color: var(--text-200);
    border: 1px solid var(--bg-300);
    font-size: 1rem;
}

table input[type="number"]{
    padding: 0.5rem;
    width: 60px;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    font-size: 0.95rem;
    text-align: center;
}

table input[list] {
    padding: 0.5rem;
    width: 100%;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    font-size: 0.95rem;
    color: var(--text-200);
}

select {
    padding: 0.5rem;
    width: min-content;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    font-size: 0.95rem;
}

table input[type="number"]:focus,
table input[list]:focus,
input[list]:focus {
    outline: none;
    border-color: var(--primary-400);
}

#addButton {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .table {
        grid-template-columns: repeat(1, 1fr);
        background-color: transparent;
    }

    .table-wrapper tr {
        padding-bottom: 1rem;
    }

    select {
        width: 100%;
    }

    table input[type="number"]{
        width: 100%;
    }

    #addButton {
        margin-top: 2rem;
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .activity-container {
        padding: 1rem;
    }

    form {
        padding: 1rem;
        gap: 1rem;
    }
}


