.form-grid-4, .form-grid-5 {
    display: grid;
    gap: 1rem;
}

.form-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.form-grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

#btn-submit-create:disabled {
    background-color: #d3d3d3;
    border-color: #bcbcbc;
    color: #888888;
    cursor: not-allowed ;
}

.batch-section {
    flex: 1;
    margin: 2rem 1rem;
}

.batch-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-100);
}

/* Tablet */
@media (max-width: 992px) { }

/* Móvil */
@media (max-width: 768px) {
    .batch-section {
        margin: 1rem 0;
    }

    .form-grid-4,
    .form-grid-5 {
        grid-template-columns: 1fr;
    }
}

/* Móvil pequeño */
@media (max-width: 480px) { }