.container {
    padding: 0 2rem;
}

.material-form-wrapper {
    position: relative;
}

.material-form {
    flex: 1;
}

.material-form:last-of-type {
    margin: 0.4rem 0 1rem 0;
}

.material-form:last-of-type input[type="submit"] {
    font-size: 1.1rem;
    color: white;
    padding: 0.5rem 2.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-actions {
    margin-top: 1rem;
    text-align: center;
}

.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.file-upload-input {
    display: none;
}

#img-preview {
    max-width: 80px;
    height: auto;
}

/* Tablet */
@media (max-width: 992px) { }

/* Móvil */
@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    input[type="text"],
    form select {
        width: 100%;
    }

    .file-upload {
        flex-direction: column;
        align-items: flex-start;
    }

    #img-preview {
        max-width: 150px;
        height: auto;
        display: block;
        margin-top: 10px;
    }

    .form-actions input[type="submit"],
    .form-actions input[type="button"] {
        width: 100%;
        font-size: 1rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
    }
}

/* Móvil pequeño */
@media (max-width: 480px) { }