.container {
    padding: 0 2rem;
}

.material-form-wrapper {
    position: relative;
}

.material-form, .basket-section {
    flex: 1;
}

.basket-toggle {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 10;
}

.hidden {
    display: none !important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-grid-4, .form-grid-5 {
    display: grid;
    gap: 1rem;
}

.form-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.form-grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.form-actions {
    margin-top: 1rem;
    text-align: center;
}

.file-upload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.file-upload-input {
    display: none;
}

.file-name-display {
    color: var(--text-200);
    font-size: 0.875rem;
    display: inline-block;
    vertical-align: middle;
}

.material-form:last-of-type {
    margin: 0.4rem 0 1rem 0;
}

.material-form:last-of-type input[type="submit"] {
    font-size: 1.1rem;
    color: white;
    padding: 0.5rem 2.5rem;
}

#imgPreview {
    min-width: none;
    max-width: 80px;
    height: auto;
}
/* Para la cesta */
.basket-toggle {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 25px;
}

.botonCarrito {
    display: inline-flex;
    align-items: center;
    gap: 12px; 
    padding: 12px 24px;
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50px; 
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botonCarrito:hover {
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.botonCarrito i {
    font-size: 1.2rem;
}
/*-----------------------------------------------------------------------*/
.basket-section {
    margin: 2rem 1rem;
}

.basket-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-100);
}

input[type="text"], form select {
    width: 100%;
}

input[type="text"], form select {
    padding: 0.75rem 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    input[type="text"], form select {
        width: 100%;
    }

    .basket-toggle {
        position: static;
        text-align: right;
        margin-bottom: 1rem;
    }

    .form-grid-4,
    .form-grid-5 {
        grid-template-columns: 1fr;
    }

    .file-upload {
        flex-direction: column;
        align-items: flex-start;
    }

    #imgPreview {
        max-width: 100%;
        height: auto;
    }

    .form-actions input[type="submit"],
    .form-actions input[type="button"] {
        width: 100%;
        font-size: 1rem;
        padding: 0.75rem;
        margin-bottom: 1rem;
    }

    .basket-section {
        margin: 1rem 0;
    }
}