.edit-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2.5rem 3rem;
  background: var(--bg-light, var(--primary-500));
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  color: var(--text-100);
}

.edit-container h1 {
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.form-group label {
  flex: 0 0 330px;
  font-weight: 600;
}

.form-group input {
  flex: 1;
  color: var(--text-100);
  font-size: 1.5em;
  font-weight: 600;
}

.form-group input.input-gray {
  color: var(--text-200);
  background-color: rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}

.form-actions {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  text-align: center;
}

i {
  color: var(--primary-300);
  font-size: 0.75rem;
}

@media (max-width: 700px) {
  .edit-container {
    max-width: 90%;
    padding: 1.5rem 1.5rem;
  }

  .form-group {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .form-group label {
    flex: none;
    width: 100%;
    font-size: 1.1rem;
  }

  .form-group input {
    font-size: 1.2rem;
    width: 100%;
  }
}
