.material-name {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-200);
    margin-left: 1rem;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

select {
    width: 200px
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px 25px;
    align-items: flex-start;
}

.form-grid label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--text-200);
}