.search-form {
    --search-align: center;
}

.activities-title {
    text-align: center;
}

.panel-body p:nth-child(1) {
    margin-top: 2em;
}

.panel-body p:nth-child(2) {
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.activity-header {
    font-size: 1.5em;
    color: var(--primary-200);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.activity-materials-table-wrapper {
    --row-content-height: calc(var(--row-content-height-base) * 0.4);
    --header-row-height: calc(var(--header-row-height-base) * 0.65);
}

.activity-materials-table {
    width: 100%;
}

.activity-materials-table th:first-child,
.activity-materials-table td:first-child {
    width: 75%;
}

.activity-materials-table th:last-child,
.activity-materials-table td:last-child {
    width: 25%;
}

@media (max-width: 992px) { }

@media (max-width: 768px) { }

@media (max-width: 400px) { }